@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fuzzy+Bubbles:wght@400;700&family=Grape+Nuts&family=Inter:wght@400;600;700&family=Josefin+Sans:wght@300;400;500;600;700&family=Neucha&family=PT+Serif:wght@400;700&family=Poppins:wght@200;300;400;600;700&display=swap");
* {
  box-sizing: border-box;
  font-family: Josefin Sans, Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

:root {
  --black: #000;
  --primary: #a57b44;
  --cobalt-blue: #0047AB;
  --light-blue: rgba(56, 78, 220, 0.431);
  --light-orange: #fe994a;
  --forect-green: #228B22;
  --light-green: #00c04b;
  --gray: #424242;
  --dirtyYellow: #cccc00;
  --byzantium: #702963;
  --red: #e50000;
  --white: #fff;
}

.app {
  position: relative;
  min-height: 100vh;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 5rem;
  margin-right: 5rem;
  height: 14vh;
  background-color: transparent;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  list-style-type: none;
}

.logo-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.65rem;
}

header,
h3 {
  padding-top: 0.5rem;
  text-transform: uppercase;
  margin: 0;
}

.login-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.icon {
  width: 2.1rem;
}

.bars-icon {
  z-index: 2;
}

.nav-title {
  font-size: 2rem;
  font-weight: normal;
}

.menu-title {
  font-size: 1.6rem;
  font-weight: normal;
}

.menu-title-hidden {
  display: none;
}

.link {
  text-decoration: none;
  color: var(--black);
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.65rem;
}

.link:visited {
  color: var(--black);
}

.login-text {
  font-size: 1.3rem;
}

.login-screen {
  top: 0;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.login-screen-wrapper {
  background-color: var(--white);
  width: 50%;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.login-label {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.login-input {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  width: 25%;
}

.login-submit-btn {
  height: 14%;
  width: 18%;
  border: 3px solid var(--white);
  background-color: var(--primary);
  color: var(--white);
  padding: 0.9rem 1.2rem;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.5s, border 0.5s, color 0.5s, transform 0.12s;
}

.login-submit-btn:hover {
  background-color: transparent;
  color: var(--black);
  border: 3px solid var(--primary);
}

.login-submit-btn:active {
  transform: scale(0.93);
}

.cancel-login-btn {
  width: 1.2rem;
  position: absolute;
  top: 2%;
  right: 2%;
  cursor: pointer;
}

.logout-title {
  font-size: 1.5rem;
}

.logout-btn {
  min-width: 6rem;
  min-height: 3rem;
  text-transform: uppercase;
  border: 3px solid var(--white);
  background-color: var(--primary);
  color: var(--white);
  padding: 0.8rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.5s, border 0.5s, color 0.5s, transform 0.12s;
}

.logout-btn:hover {
  background-color: transparent;
  color: var(--black);
  border: 3px solid var(--primary);
}

@media (max-width: 1420px) {
  .login-screen-wrapper {
    width: 60%;
  }
  .login-submit-btn {
    height: 16%;
    width: 24%;
  }
}
@media (max-width: 1234px) {
  .navigation {
    margin-left: 4rem;
    margin-right: 4rem;
  }
}
@media (max-width: 1024px) {
  .navigation {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .header-wrapper {
    width: 70%;
  }
  header,
h3 {
    padding-top: 0.2rem;
  }
  .login-wrapper {
    gap: 0.75rem;
  }
  .icon {
    width: 2rem;
  }
  .nav-title {
    font-size: 1.8rem;
  }
  .menu-title {
    font-size: 1.5rem;
  }
  .login-text {
    font-size: 1.15rem;
  }
  .login-screen-wrapper {
    width: 62%;
  }
  .login-label {
    font-size: 1.1rem;
  }
  .login-input {
    font-size: 0.9rem;
    width: 28%;
  }
  .login-submit-btn {
    width: 26%;
    padding: 0.8rem 1.1rem;
    font-size: 1rem;
  }
}
@media (max-width: 786px) {
  .navigation {
    margin-left: 1.75rem;
    margin-right: 1.75rem;
  }
  .header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    width: 80%;
  }
  header,
h3 {
    padding-top: 0.2rem;
  }
  .login-wrapper {
    gap: 0.4rem;
  }
  .icon {
    width: 1.6rem;
  }
  .nav-title {
    font-size: 1.4rem;
  }
  .menu-title {
    font-size: 1.3rem;
  }
  .login-text {
    font-size: 1rem;
  }
  .login-screen-wrapper {
    width: 65%;
    height: 70%;
  }
  .login-label {
    font-size: 1.2rem;
  }
  .login-input {
    font-size: 1.1rem;
    width: 55%;
  }
  .login-submit-btn {
    height: 10%;
    width: 35%;
    padding: 0.3rem 0.5rem;
    font-size: 0.9rem;
  }
  .register-btn {
    font-size: 0.95rem;
  }
  .cancel-login-btn {
    top: 1%;
    right: 2%;
  }
}
@media (max-width: 544px) {
  .navigation {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
  .header-wrapper {
    width: 80%;
    gap: 0.7rem;
  }
  header,
h3 {
    padding-top: 0.25rem;
  }
  .link {
    gap: 0.2rem;
  }
  .login-wrapper {
    gap: 0.4rem;
  }
  .icon {
    width: 1.2rem;
  }
  .nav-title {
    font-size: 1rem;
  }
  .menu-title {
    font-size: 0.85rem;
  }
  .login-text {
    font-size: 1rem;
  }
  .login-screen-wrapper {
    width: 70%;
    height: 70%;
  }
  .login-label {
    font-size: 1.05rem;
  }
  .login-input {
    font-size: 1rem;
    width: 70%;
  }
  .login-submit-btn {
    width: 40%;
    padding: 0.15rem 0.3rem;
    font-size: 0.85rem;
  }
  .register-btn {
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=style.css.map */