@import "../../../../global-styles/global";

.footer {
  @include flex(row, flex-end, center);
  background-color: var(--primary);
  height: 18vh;
  padding-right: 5rem;
}

.footer > p {
  font-size: 1.2rem;
  color: var(--white);
}

@media (max-width: 1234px) {
  .footer {
    padding-right: 4rem;
  }
  .footer > p {
    font-size: 1.15rem;
  }
}

@media (max-width: 1024px) {
  .footer {
    padding-right: 3rem;
  }
  .footer > p {
    font-size: 1.05rem;
  }
}

@media (max-width: 786px) {
  .footer {
    padding-right: 1.75rem;
  }
  .footer > p {
    font-size: 0.9rem;
  }
}
