@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fuzzy+Bubbles:wght@400;700&family=Grape+Nuts&family=Inter:wght@400;600;700&family=Josefin+Sans:wght@300;400;500;600;700&family=Neucha&family=PT+Serif:wght@400;700&family=Poppins:wght@200;300;400;600;700&display=swap");

@mixin flex($direction: row, $justify-content: center, $align-items: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

* {
  box-sizing: border-box;
  font-family: Josefin Sans, Arial, Helvetica, sans-serif;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
}

:root {
  --black: #000;
  --primary: #a57b44;
  --light-blue: rgba(56, 78, 220, 0.43);
  --gray: #424242;
  --dirtyYellow: #cccc00;
  --white: #fff;
}

.app {
  position: relative;
}
