@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fuzzy+Bubbles:wght@400;700&family=Grape+Nuts&family=Inter:wght@400;600;700&family=Josefin+Sans:wght@300;400;500;600;700&family=Neucha&family=PT+Serif:wght@400;700&family=Poppins:wght@200;300;400;600;700&display=swap");
* {
  box-sizing: border-box;
  font-family: Josefin Sans, Arial, Helvetica, sans-serif;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
}

:root {
  --black: #000;
  --primary: #a57b44;
  --light-blue: rgba(56, 78, 220, 0.43);
  --gray: #424242;
  --dirtyYellow: #cccc00;
  --white: #fff;
}

.app {
  position: relative;
}

.content-section {
  position: relative;
  margin-left: 5rem;
  margin-right: 5rem;
  height: 68vh;
}

.headers-wrapper {
  position: absolute;
  left: 4%;
  top: 12%;
  height: 84%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 5rem;
  z-index: 5;
}

.headers-author {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: normal;
  letter-spacing: -0.1rem;
  padding: 0;
  margin: 0;
}

.header-title {
  font-weight: bold;
  font-size: 3.5rem;
  width: 100%;
  color: var(--primary);
  padding: 0;
  margin: 0;
}

.headers-text {
  font-size: 1.25rem;
  padding: 0;
  margin: 0;
}

.apps-wrapper {
  width: 60%;
  height: 94%;
  position: absolute;
  top: 6%;
  right: 0;
}

.note-wrapper {
  margin: auto;
  background-color: var(--primary);
  padding: 0.75rem;
  width: 40%;
  height: 60%;
}

.note-title {
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  font-size: 1.5em;
}

.note-text {
  padding: 1rem;
  background-color: var(--white);
  color: var(--primary);
  height: 84%;
  text-align: left;
  font-size: 1em;
  margin-top: 0.75rem;
  letter-spacing: 0.05rem;
  line-height: 1.3rem;
}

.todo-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 8px solid var(--primary);
  padding: 1.8rem;
}

.todo-category {
  padding: 0;
  font-size: 1.3em;
  text-transform: uppercase;
}

.todo-text {
  margin: 0;
  font-size: 1em;
  width: 30%;
}

.todo-btn {
  border: 6px solid var(--primary);
  background-color: var(--light-blue);
  font-size: 1.2rem;
  font-weight: bolder;
  padding: 0.5rem 0.9rem;
  text-transform: uppercase;
}

.todo-date {
  font-size: 1.2rem;
  margin: 0;
}

@media (max-width: 1234px) {
  .content-section {
    margin-left: 4rem;
    margin-right: 4rem;
  }
  .todo-wrapper {
    padding: 1.2rem;
  }
}
@media (max-width: 1024px) {
  .apps-wrapper {
    width: 70%;
    opacity: 0.5;
    filter: blur(0.5rem);
  }
}
@media (max-width: 1024px) {
  .apps-wrapper {
    width: 80%;
  }
  .content-section {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
@media (max-width: 786px) {
  .apps-wrapper {
    width: 90%;
  }
  .headers-wrapper {
    height: 68%;
    margin-left: 1.75rem;
    margin-right: 1.75rem;
  }
  .headers-author {
    font-size: 1.1rem;
    letter-spacing: -0.08rem;
  }
  .header-title {
    font-size: 2.8rem;
  }
  .headers-text {
    font-size: 1.1rem;
  }
  .content-section {
    margin: 0;
  }
}
@media (max-width: 678px) {
  .apps-wrapper {
    width: 100%;
  }
  .note-wrapper {
    width: 50%;
  }
  .header-title {
    font-size: 2.2rem;
  }
}
@media (max-width: 544px) {
  .apps-wrapper {
    width: 120%;
  }
  .note-wrapper {
    width: 55%;
  }
  .headers-wrapper {
    height: 68%;
    margin-left: 1.4rem;
    margin-right: 1.4rem;
  }
  .headers-author {
    font-size: 1rem;
    letter-spacing: -0.08rem;
  }
  .header-title {
    font-size: 1.8rem;
  }
  .headers-text {
    font-size: 1rem;
  }
}
@media (max-height: 544px) {
  .headers-wrapper {
    gap: 0;
  }
}/*# sourceMappingURL=style.css.map */